.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #61dafb;
  border: none;
  color: rgb(6, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 150px; /* Added width to make all buttons the same width */
}

button:hover {
  background-color: #21a1f1;
}

/* Responsive styles for iPhone 13 Pro Max */
@media only screen and (max-width: 430px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
    width: 120px; /* Adjusted width for smaller screens */
  }
}
